.header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  h1 {
    display: block;
    width: fit-content;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  button {
    padding: 6px 9px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.12);
    background: transparent;
    color: #cfcfcf;
    cursor: pointer;
  }
}
